<h1>
  <%= link_to "Organizations", organizations_path %> &raquo;
  <%= @organization.name %>
  <%= link_to "Edit", edit_organization_path(@organization) %>
</h1>

<% if @organization.repositories_updated_at %>
  Dependencies updated at <%= @organization.repositories_updated_at.to_s(:db) %><br/>

  <% @organization.repositories.keys.each do |name| %>
    <%= content_tag :a, '', name: name %>
    <h2>
      <%= link_to name, "https://github.com/#{@organization.name}/#{name}" %>
      <%= image_tag organization_repository_url(@organization, name, token: @organization.badge_token, format: :svg) %>
    </h2>

    <% used, uses = @organization.repository(name) %>

    <table>
      <tr>
        <th>Uses</th><th>Used</th>
      </tr>
      <% [used.size, uses.size].max.times do |i| %>
        <tr>
          <% [uses[i], used[i]].each do |name, version| %>
            <td>
              <% if name %>
                <%= link_to name, "##{name}" %>
                <% if version %> @ <%= version %> <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
<% else %>
  <% if @organization.github_token.blank? %>
    <%= link_to "Add a token to fetch dependencies", edit_organization_path(@organization) %>
  <% else %>
    Repositories will be listed here once the import ran (once a day).
  <% end %>
<% end %>
