<!DOCTYPE html>
<html lang="en">
<head>
  <title>Orgdeps</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="controller-<%= controller_name %>">

<div class="wrap">
  <%= render "layouts/header" %>

  <div class="container">
    <%= render "layouts/alerts" %>
    <%= yield %>
  </div>
</div>

</body>
</html>
